/.vscode
/add.png
/amazon.css
/amazon.html
/amazon.png
/amazon1.jpeg
/appstore_2x.webp
/basictag.html
/bootdemo.html
/bootstrap-3.3.7-dist
/bootstrap-3.3.7-dist.zip
/c and c++ assiment.pdf
/c.png
/divtag.html
/form1.html
/from2.html
/from3.html
/full.jpeg
/game.html
/header.html
/htmltable.html
/image
/image1.jpeg
/image10.jpeg
/image11.jpeg
/image12.jpeg
/image13.jpeg
/image14.jpeg
/image15.jpeg
/image16.jpeg
/image17.jpeg
/image18.jpeg
/image19.jpeg
/image2.jpeg
/image20.jpeg
/image21.jpeg
/image3.jpeg
/image4.jpeg
/image5.jpeg
/image6.jpeg
/image7.jpeg
/image8.jpeg
/image9.jpeg
/images.jpeg
/index.html
/index1.html
/inlinecss.html
/inlinenew.html
/internalcss.html
/logo.png
/nameform.html
/nav.css
/nav.html
/navtag.html
/navtag1.html
/navtag2.html
/olx.jpeg
/phone-app.webp
/playstore_2x.webp
/post.jpeg
/project1.html
/project2.html
/projectsite.html
/register.jpeg
/registerfrom.html
/Registrationform.html
/resume.html
/search.png
/serch1.png
/style.css
/style1.css
/submit.png
/table.html
/table1.html
/web.pdf